:root {
    --color1: #1A1C22;
    --color2: #282C35;
    --color3: #86f1a4;
    ;
}

body {
    text-transform: capitalize;
    /* overflow: hidden; */
    background-color: var(--color1);
    font-family: "Poppins", sans-serif;
}

#main>div {
    margin: 4px 0px;
    padding: 5px 0px;
}

#c12 {
    border-radius: 10px;
    margin: 0px 0px;
    /* height: 97vh; */
    padding: 10px 20px;
    border: 9px solid #1A1C22;

    background-color: var(--color2);
}

#row2,
#row3 {

    margin: 1px;
}

#row2>div {
    margin: 3px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color1);
}

i {
    color: #86f1a4;
    background-color: #282c35f8;
    padding: 12px;

    border-radius: 10px;
    font-size: 24px;
}

#row3>div {
    border-radius: 5px;
    /* height: 77vh; */
    margin: 10px 0px;
    border: 3px solid var(--color2);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color1);
}

.dis {
    background-color: var(--color2) !important;
    color: #414856 !important;
    font-weight: 600;
}

input,
select {
    border-radius: 5px;
    outline: none;
    background-color: var(--color2);
    border: none;
    /* width: 100%; */
    padding: 10px 5px;
    margin: 5px 0px;
    color: white;
    text-align: left;
}

input::placeholder {
    padding-left: 10px !important;
    border-radius: 10px;
    color: white;
}

#row3>div>div>h4 {
    padding: 5px 0px;
    text-align: center;
    color: var(--color3);
}

select {
    padding-left: 10px;
}

#row3>div>div {
    /* height: 50px; */
    display: flex !important;
    /* flex-direction: row !important; */
    /* align-items: center !important; */
    /* align-items: center; */
    /* padding: 5px 9px; */
    background-color: var(--color2);
    color: white;
}
button:hover{
    transform: scale(1.2);
}
#saveEdit{
    background-color: #282C35;
    padding: 10px 0px;
    color: white;
    margin:10px 0px;
}
#btn{
    background-color: transparent !important;
}
#btn>button:hover{
    background-color: transparent;
    border: 1px solid var(--color3);
transform: scale(1) !important;
}
#btn>button{
    background-color: var(--color2) ;
    padding: 10px 0px !important;
    border-radius: 6px !important;
margin: 4px 0px !important;
text-transform: uppercase;
transition: 0.5s ease-in !important;
}
button {
    transition: 0.5s ease-in-out;
    /* background-color: var(--color3); */
    color: var(--color3);
    border: none;
    background-color: transparent;
    margin: 0px 1px !important;
    padding: 5px 1px !important;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.fa-address-card {
    background-color: var(--color1);
    padding: 14px;
    border-radius: 20%;
    margin: 10px 0px;
    font-size: 44px;
}

#main {
    height: 75vh;
    overflow-y: scroll;
}

#main::-webkit-scrollbar {
    background-color: #414856;
}

#main::-webkit-scrollbar-thumb {
    color: #86f1a4;
    /* background-color: #86f1a4; */
}
#cls{
    font-size: 40px !important;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--color2)
    ;
    color: #86f1a4;
    padding: 0px 10px;
    border-radius: 20px;
}
.modal {
    display: none;
    width: 40%;
padding: 15px;
left: 30%;
    /* position: fixed; */
    /* z-index: 1;/ */
    /* left: 0; */
    /* top: 0; */
    /* width: 100%;
    height: 100%; */
    /* overflow: auto; */
    /* background-color: rgb(0, 0, 0); */
    /* background-color: rgba(0, 0, 0, 0.4); */
}

